html,body {
  margin: 0;
  touch-action: manipulation;
  overflow-x: hidden;
}

#app {
  --building-wall-color: #69493d;
  --building-border-width: 8px;
  --building-border-color: #000;
  --building-border: var(--building-border-width) solid var(--building-border-color);
  --building-border-radius: 10px;
  height: 100vh;
}

.building-floor {
  position: relative;
  width: 100%;
  aspect-ratio: 1.618;
  box-sizing: border-box;
  background-color: rgb(254, 236, 212);
  border-left: var(--building-border);
  border-right: var(--building-border);
  overflow: hidden;
}